.curso-container {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 30px;
  font-size: 24px;
}

p {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
}

.btn-regresar {
  background: #e63946;
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-regresar:hover {
  background: #c92535;
}

hr {
  margin-top: 30px;
  border: none;
  border-top: 1px solid #eee;
}
.btn-evaluacion {
  width: 100%;
  margin-top: 30px;
  padding: 14px;
  background-color: #007bff; /* azul */
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-evaluacion:hover {
  background-color: #007bff;
}