
        .login-container {
            max-width: 400px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 55px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .login-container h2 {
            margin-bottom: 25px;
            color: #333;
        }
        .login-container label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }
        .login-container input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .login-container button {
            width: 100%;
            padding: 15px;
            background-color: #0e7bf7;
            border: none;
            border-radius: 4px;
            color: #fff;
            font-size: 16px;
        }
        .login-container button:hover {
            background-color: #218838;
        }
        input[type="radio"] {
    margin-right: 100px;
}

.rol-option {
    display: flex;
    
    margin-top: 20px;
  }

/* Estilos para el botón de Cerrar Sesión en todas las páginas de perfil */
.btn-logout {
    position: absolute; /* Posicionamiento absoluto respecto al body (que tiene position: relative) */
    top: 20px; /* 20px desde la parte superior */
    right: 20px; /* 20px desde la parte derecha */
    padding: 10px 15px;
    background-color: #dc3545; /* Color rojo */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10; /* Asegura que el botón esté por encima de otros elementos */
}
.title {
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 40px;
}


