* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul { list-style: none; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../../assets/fotos/cover-rodriguez-academia.png");
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  min-height: 80px;
  background: linear-gradient(
    90deg,
    rgb(246, 246, 248) 0%,
    rgb(15, 3, 184) 70%
  );
}

.menu {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  color: #fafafa;
  text-transform: uppercase;
  font-weight: bold;
}

.menu .navbar ul {
  display: flex;
  align-items: center;
}
.menu .navbar ul li {
  position: relative;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #fafafa;
  display: block;
  font-weight: bold;
}

.menu .navbar ul li a:hover {
  color: #fafafa;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

h1 {
  text-align: center;
  margin-top: 80px;
}

@media (max-width: 991px) {
  .content {
    min-height: 70px;
  }

  .menu {
    top: 0;
    padding: 20px;
  }

  .menu label {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(
      90deg,
      rgb(212, 214, 223) 0%,
      rgb(9, 7, 87) 70%
    );
    display: none;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  #menu:checked ~ .navbar {
    display: block;
  }


}
